Source: hubtools
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 python-all (>= 3.6~),
 python3-pycryptodome,
Standards-Version: 4.0.0
X-Python-Version: >= 2.6

Package: hubtools
Architecture: any
Depends:
 ca-certificates,
 ${misc:Depends},
 py3curl-wrapper,
 ${python3:Depends},
 python3-pycryptodome,
Description: HubTools - Python bindings and CLI for the TurnKey Hub API
