Source: hubtools
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends: debhelper (>> 4.2.0)
Standards-Version: 3.6.1

Package: hubtools
Architecture: all
Depends: python (>= 2.4), turnkey-pylib (>= 3.0), pycurl-wrapper (>= 1.0), python-crypto, python-simplejson, ca-certificates
Section: misc
Description: HubTools - Python bindings and CLI for the TurnKey Hub API
